/* Layout */
#webform-page,
.page-meet-with-coach,
.page-discovery-session {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ea5915 url('img/bg.png') no-repeat center bottom / cover;
  background-attachment: fixed;
  font-family: arial;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

#webform .container {
  padding: 20px 15px 25px;
}

#webform .col-md-4,
#webform .col-md-6,
#webform .col-md-8,
#webform .col-md-12 {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #webform {
    font-size: 17px;
  }

  #webform .container {
    width: 750px
  }
}

@media (min-width: 992px) {
  #webform .container {
    padding-bottom: 50px;
    width: 970px;
  }
}

@media (min-width: 1200px) {
  #webform .container {
    width: 1170px
  }
}

/* Globals */
#webform a {
  color: #ff671f;
  text-decoration: underline;
}

#webform h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 30px;
  text-align: center;
  text-transform: uppercase;
}

#webform h3 {
  font-size: 25px;
  font-weight: 100;
  margin: 0 0 10px;
}

#webform p {
  line-height: 1.4;
  margin: 0 0 15px;
}

#webform sup {
  font-size: 45px;
}

#webform hr {
  border-top: 2px solid #cccccc;
  margin: 30px 0;
}

#webform .logo {
  display: block;
  margin: 0 auto 15px;
  width: 80px;
}

#webform[data-form='meet-with-coach'] .logo,
#webform[data-form='discovery-session'] .logo {
  display: none;
}

#webform .content {
  color: #ffffff;
  margin: 0;
}

#webform .content::after {
  clear: both;
  content: '';
  display: table;
}

#webform .content p {
  margin-bottom: 25px;
}

#webform .box {
  background-color: #ffffff;
  display: block;
  padding: 20px;
  position: relative;
}

#webform .note {
  color: #ffffff;
  font-size: 15px;
  margin: 0;
}

.shortcodeBox {
  background: #fff; 
  display: block; 
  margin: 100px auto; 
  padding: 20px; 
  text-align: center; 
  width: 800px; 
}

#webform .img-left,
#webform .img-right {
  display: block;
  margin: 25px auto 15px;
  max-width: 150px;
}

@media (min-width: 420px) {
  #webform .img-left,
  #webform .img-right {
    max-height: 100px;
  }

  #webform .img-left {
    float: left;
    margin: 0 20px 20px 0;
  }

  #webform .img-right {
    float: right;
    margin: 0 0 20px 20px;
  }
}

@media (min-width: 768px) {
  #webform h2 {
    font-size: 40px;
  }

  #webform h3 {
    font-size: 35px;
  }

  #webform .logo {
    margin-bottom: 40px;
    width: 120px;
  }

  #webform .box {
    padding: 40px;
  }
}

@media (min-width: 992px) {
  #webform .box {
    margin-bottom: 0;
  }

  #webform .content {
    margin-top: 40px;
  }
}

/* Steps */
#webform .steps {
  color: #ffffff;
  display: block;
  font-size: 14px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
}

#webform .steps::before {
  border-bottom: 2px solid #ffffff;
  content: '';
  display: block;
  position: absolute;
  left: 20%;
  top: 29px;
  width: 65%;
}

#webform .steps::after {
  clear: both;
  content: '';
  display: table;
}

#webform .steps li {
  float: left;
  display: block;
  position: relative;
  width: 33.3334%;
  z-index: 1;
}

#webform .steps li span {
  display: block;
}

#webform .steps li::before {
  background-color: #ed6b0f;
  border: 2px solid #ffffff;
  border-radius: 40px;
  content: '';
  display: block;
  height: 60px;
  margin: 0 auto 10px;
  width: 60px;
}

#webform .steps[data-step='1'] li:nth-child(1)::before,
#webform .steps[data-step='2'] li:nth-child(2)::before,
#webform .steps[data-step='3'] li:nth-child(3)::before,
#webform .steps[data-step='4'] li:nth-child(4)::before {
  background-color: #ffffff;
}

#webform .steps li::after {
  background-repeat: no-repeat;
  background-position: center;
  content: '';
  display: block;
  height: 60px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 60px;
}

#webform .steps li:nth-child(1)::after {
  background-image: url('img/icon-account.png');
  background-size: 34px auto;
}

#webform .steps[data-step='1'] li:nth-child(1)::after {
    background-image: url('img/icon-account-active.png');
}

#webform .steps li:nth-child(2)::after {
  background-image: url('img/icon-membership.png');
  background-size: 19px auto;
}

#webform .steps[data-step='2'] li:nth-child(2)::after {
    background-image: url('img/icon-membership-active.png');
}

#webform .steps li:nth-child(3)::after {
  background-image: url('img/icon-payment.png');
  background-size: 20px auto;
}

#webform .steps[data-step='3'] li:nth-child(3)::after {
    background-image: url('img/icon-payment-active.png');
}

#webform .steps[data-step='2'] li:nth-child(-n+1)::after,
#webform .steps[data-step='3'] li:nth-child(-n+2)::after,
#webform .steps[data-step='4'] li:nth-child(-n+3)::after {
  background-image: url('img/icon-check.png');
  background-size: 29px auto;
}

@media (min-width: 768px) {
  #webform .steps {
    font-size: 17px;
  }

  #webform .steps::before {
    top: 39px;
  }

  #webform .steps li span {
    display: inline;
  }

  #webform .steps li::before,
  #webform .steps li::after {
    height: 80px;
    width: 80px;
  }

  #webform .steps li:nth-child(1)::after {
    background-size: 44px auto;
  }

  #webform .steps li:nth-child(2)::after {
    background-size: 24px auto;
  }

  #webform .steps li:nth-child(3)::after {
    background-size: 25px auto;
  }

  #webform .steps[data-step='2'] li:nth-child(-n+1)::after,
  #webform .steps[data-step='3'] li:nth-child(-n+2)::after,
  #webform .steps[data-step='4'] li:nth-child(-n+3)::after {
    background-size: 35px auto;
  }
}

/* Forms */
#webform input[type="number"],
#webform input[type="text"],
#webform input[type="email"],
#webform input[type="tel"],
#webform select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 5px;
  box-shadow: none;
  cursor: auto;
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
  outline: 0;
  padding: 10px;
  transition: border-color .25s ease-out;
  width: 100%;
}

#webform input[type="number"].input-error,
#webform input[type="text"].input-error,
#webform input[type="email"].input-error,
#webform input[type="tel"].input-error,
#webform select.input-error {
  border-color: #f17070;
}

#webform input::-webkit-input-placeholder { 
  color: #cccccc;
}

#webform input::-moz-placeholder { 
  color: #cccccc;
}

#webform input:-ms-input-placeholder { 
  color: #cccccc;
}

#webform input:-moz-placeholder {
  color: #cccccc;
}

#webform select {
  background: #ffffff url('img/arrow-down.png') no-repeat right 10px center / auto 10px;
  cursor: pointer;
  outline: 0;
  padding-right: 30px;
}

#webform select:required:invalid {
  color: #cccccc;
}

#webform select::-ms-expand {
    display: none;
}

#webform .btn-submit {
  background-color: #ff671f;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #ffffff;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
}

#webform .legal {
  font-size: 13px;
  margin: 10px 0 0;
}

@media (min-width: 768px) {
  #webform input[type="number"],
  #webform input[type="text"],
  #webform input[type="email"],
  #webform input[type="tel"],
  #webform select {
    font-size: 15px;
  }

  #webform .input-columns::after {
    clear: both;
    content: '';
    display: table;
  }

  #webform .input-columns > input,
  #webform .input-columns > select,
  #webform .input-columns > .input-columns {
    float: left;
    width: calc(50% - 7.5px);
  }

  #webform .input-columns > input:nth-child(odd),
  #webform .input-columns > select:nth-child(odd),
  #webform .input-columns > .input-columns:nth-child(odd) {
    margin-right: 15px;
  }
}

/* Join Form - 1st */
#webform .account .content h3 {
  margin: 30px 0 15px;
}

#webform .account .content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#webform .account .content ul li {
  margin: 25px 0;
}

#webform .account .content ul li > img:first-child {
  display: block;
  float: left;
  margin: 0 20px 0 0;
  max-width: 40px;
}

@media (min-width: 768px) {
  #webform .account .input-columns {
    margin-bottom: 15px;
  }

  #webform .account .input-columns input:last-of-type {
    width: 100%;
    margin-right: 0;
  }

  #webform .account .content ul li {
    margin-bottom: 20px;
  }

  #webform .account .content ul li > img:first-child {
    margin: 0 20px 0 0;
  }
}

@media (min-width: 992px) {
  #webform .account .content h3:first-child {
    margin-top: 0;
  }
}

/* Memberships */
#webform .memberships .box {
  text-align: center;
  height: auto;
}

#webform .memberships p {
  margin-bottom: 0;
}

#webform .memberships .period {
  color: #4c4c4e;
  font-weight: bold;
  margin: 0 0 10px;
}

#webform .memberships .description {
  font-size: 15px;
  margin: 0 0 20px;
}

#webform .memberships .price {
  color: #4c4c4e;
  font-size: 75px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

#webform .memberships .promoInput {
  position: relative;
}

#webform .memberships #promoMessage::before {
  content: '';
  display: none;
  font-size: 13px;
  margin: 0 0 15px;
  text-align: left;
}

#webform .memberships #promoMessage.is-invalid::before {
  color: red;
  content: 'The promotional code you entered is not valid.';
  display: block;
}

#webform .memberships #promoMessage.is-valid::before {
  color: green;
  content: attr(data-promo) ' promotional code. $' attr(data-price);
  display: block;
}

#webform .memberships .promoInput input {
  padding-right: 110px;
}

#webform .memberships .promoInput button {
  background-color: #d7d7d7;
  border: 0;
  border-left: 2px solid #cccccc;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: none;
  position: absolute;
  right: 2px;
  top: 2px;
  bottom: 2px;
  padding: 8px 15px;
}

/* Payment */
#webform .payment table {
  color: inherit;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 20px;
  text-align: right;
  width: 100%;
}

#webform .payment tbody {
  border-bottom: 1px solid #ffffff;
}

#webform .payment td {
  padding: 7px 0;
  vertical-align: top;
}

#webform .payment td:first-of-type {
  text-align: left;
}

#webform .payment .summary {
  font-weight: normal;
  padding: 0 0 15px 15px;
  text-align: left;
}

#webform .payment .summary p {
  margin: 0;
}

#webform .payment .total {
  font-size: 17px;
}

#webform .payment tfoot small {
  display: block;
  font-size: 11px;
  font-weight: normal;
}

#webform .payment.is-loading {
  display: block;
  position: relative;
}

#webform .payment .loader {
  display: none;
}

#webform .payment.is-loading .loader {
  background: rgba(255,255,255, .8) url('img/loader.gif') no-repeat center center / 150px auto;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#webform .payment #errorMessage {
  background-color: #f3f3f3;
  color: red;
  display: none;
  font-size: 17px;
  text-align: center;
  margin: 15px 0 0;
  padding: 15px;
}

#webform .payment #errorMessage.is-active {
  display: block;
}

@media (min-width: 768px) {
  #webform .payment table {
    font-size: 17px;
  }

  #webform .payment .summary {
    padding-left: 25px;
  }

  #webform .payment tfoot small {
    font-size: 13px
  }

  #webform .payment .total {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  #webform .payment table {
    margin-bottom: 0;
    max-width: 95%;
  }
}

/* Completion */
#webform .completion {
  color: #ffffff;
}

#webform .completion a {
  color: #ffffff;
  text-decoration: underline;
}

#webform .completion p {
  margin-bottom: 30px;
}

#webform .completion p:last-child {
  margin-bottom: 0;
}

/* Discovery/Talk With Coach Pages */
.page-meet-with-coach,
.page-discovery-session {
  padding-top: 50px;
}

.page-meet-with-coach .blog-content,
.page-discovery-session .blog-content {
  text-align: left;
}

.page-meet-with-coach .blog-content > h2:first-child,
.page-discovery-session .blog-content > h2:first-child {
  display: none;
}

@media (min-width: 768px) {
  .page-meet-with-coach,
  .page-discovery-session {
    padding: 120px 0 0 90px;
  }

  .page-meet-with-coach #header-wrap,
  .page-discovery-session #header-wrap {
    background: #FFFFFF;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    top: 0;
  }
}

