.webform-cta {
  background: #ea5915 url('img/bg.png') no-repeat center bottom / cover;
  background-attachment: fixed;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  padding: 50px 30px;
  text-align: center;
}

.webform-cta h2 {
  color: #ffffff;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.webform-cta h3 {
  font-weight: 200;
  margin: 20px 0 25px;
  text-transform: uppercase;
}

.webform-cta .cta-content {
  display: block;
  margin: 0 0 30px;
  padding: 0;
  position: relative;
  text-align: center;
}

.webform-cta .cta-content-image {
  margin: 0 0 30px;
  text-align: left;
}

.webform-cta .cta-content-image .cta-icon {
  display: block;
  margin: 0 auto 25px;
  width: 100px;
}

.webform-cta .cta-content :last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .webform-cta {
    padding: 75px 100px;
  }

  .webform-cta h2 {
    margin-bottom: 60px;
  }

  .webform-cta h2 + .cta-content:not(.cta-content-image) {
    margin-top: -50px;
  }

  .webform-cta .cta-content {
    margin-bottom: 40px;
  }

  .webform-cta .cta-content-image {
    padding-left: 120px;
  }

  .webform-cta .cta-content-image .cta-icon {
    left: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: 992px) {
  .webform-cta h2 {
    margin-bottom: 70px;
  }

  .webform-cta .cta-content {
    margin-bottom: 50px;
  }

  .webform-cta .cta-content-image {
    padding: 0 60px 0 180px;
    margin-bottom: 70px;
  }

  .webform-cta .cta-content-image .cta-icon {
    left: 60px;
  }

  .webform-cta h3 {
    margin-top: 0;
  }
}


/* CTA BUttons */
.webform-cta .cta-buttons [class*='col-'] {
  padding: 0;
}

.webform-cta .btn-white {
  border: 2px solid #ffffff;
  color: #ffffff;
  display: inline-block;
  font-family: 'futura-pt', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 15px;
  max-width: 215px;
  padding: 10px 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.webform-cta .btn-white:hover {
  background-color: #ffffff;
  color: #ea5915;
}

.webform-cta .col-md-8 .btn-white {
  margin: 0 15px 15px;
}


/* Memberships */
.webform-cta .cta-membership {
  background-color: #ffffff;
  color: #555;
  display: block;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.webform-cta .cta-membership h3 {
  font-size: 28px;
  margin-bottom: 3px;
  text-transform: none;
}

.webform-cta .cta-membership p {
  margin-bottom: 0;
}

.webform-cta .cta-membership .period {
  color: #4c4c4e;
  font-size: 13px;
  font-weight: bold;
  margin: 5px 0 10px;
}

.webform-cta .cta-membership .description {
  font-size: 14px;
  margin: 0 0 20px;
}

.webform-cta .cta-membership .description a {
  color: #ff671f;
  text-decoration: underline;
}

.webform-cta .cta-membership .price {
  color: #4c4c4e;
  font-size: 75px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

.webform-cta .cta-membership .price sup {
  font-size: 44px;
}

.webform-cta .cta-membership .savings {
  font-size: 14px;
}


.webform-cta .cta-membership .savings strong {
  display: block;
}

@media (min-width: 768px) {
  .webform-cta .cta-memberships {
    margin-bottom: 60px;
  }
}

@media (min-width: 992px) {
  .webform-cta .cta-membership {
    min-height: 305px
  }

  .webform-cta .cta-membership {
    margin-bottom: 0;
  }
}
